{% extends 'base1.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}

  <div class="jumbotron p-5 text-white rounded bg-info" style="height:560px ">
    <div class="col-md-6 px-0" style="margin:95px">
      <h1 class="display-4 " style="font-size:90px">About Us!</h1>
      <p class="lead my-3" style="">Partner with Us! and expand your vehicle rental business. Join our platform and reach a wider audience to increase your bookings and revenue.</p>
      {% comment %} <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> {% endcomment %}
      <a class="btn btn-dark btn-lg" href="#123" role="button">Learn more</a>
    </div>
  </div>
  <div class="p-3 mb-2  text-info" id="123">
    <div class="row m-5" >
        <div class="container fluid px-0"><h1 class="my-3 text-center">Why Choose Us?</h1></div>
        <div class="col-xl-4">
          <div class="container fluid px-0" >
            {%load static%}
            <img src="{%static "rp.jpg" %}" width="300" height="300"  style=" background-color: white;border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:60px" >
          </div>
          <h2 class="hd my-2 " style=" text-align:center">Reliable Partnership</h2>
          <p style="font-size:20px; text-align:center">Join our platform for a reliable partnership. We have a large user base and provide a seamless experience for both vehicle owners and renters.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-xl-4">
          <div class="container" >
            {%load static%}
            <img src="{%static "profit.webp"%}" width="300" height="300"  style=" background-color: white;border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:60px" >
          </div>
          <h2 class="hd my-2 " style=" text-align:center">Increased Bookings</h2>
          <p style="font-size:20px ; text-align:center">Partnering with us will give you access to a larger customer base, leading to increased bookings and higher revenue for your vehicle rental business.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-xl-4">
          <div class="container-center" >
            {%load static%}
            <img src="{%static "flex.jpg"%}" width="300" height="300"  style=" background-color: white;border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:60px" >
</div>
<h2 class="hd my-2" style=" text-align:center">Flexible Rental Options</h2>
<p style="font-size:20px ; text-align:center">Offer flexible rental options to our users. Set your own rental rates, availability, and vehicle requirements to attract potential renters.</p>
</div><!-- /.col-lg-4 -->
</div>
</div>
{% endblock body %}
