{% extends 'base.html' %}

{% block title %}Bikes{% endblock title %}

{%load static%}
<link rel="stylesheet" href="{%static 'style.css'%}">

{% block body %}
 

<main role="main" style="background-color: rgb(200, 200, 200)">

    <section class="jumbotron text-center" style="background-color: rgb(200, 200, 200)">
      <div class="container">
          <marquee> <h1 class="jumbotron-heading" style="font-size:50px">Welcome {{request.user}} !!</h1></marquee>>
       <p style="font-size:25px; margin-top:30px">Get wide varieties of bikes in affordable prices!!</p>
        <p>
          
          
        </p>
      </div>
    </section>
 
    <div class="album py-5 bg-light" id="1">
      <div class="container" id="2">
        
        <div class="row" id="3">
          {% for i in bike %}
          <div class="col-md-4">
            
            <div class="card mb-4 shadow-sm">
              
              {%load static%}
              <img src = '/media/{{i.image}}'  alt="bike" class="d-block w-100" height="225" >
              <div class="card-body">
                
                
                <h4 style="text-align:center" >{{i.bike_name}}</h4>
                
                <p class="card-text">{{i.bike_desc}}</p>
                <p id="{{i.bike_id}}">Price per Day : {{i.price}}</p>
               
                <div class="d-flex justify-content-between align-items-center" id="7">
                  <div class="btn-group" id="8">
                    <a type="button" class="btn btn-sm btn-dark " href="\bill1" id="rentbtn">Book Now</a>
                   
                  </div>
                  
                </div>
              </div>
            </div>
            
          </div>
          
          {%endfor%}
          


{% endblock body %}



